---
import { Image } from 'astro:assets'
import BoxIcon from './BoxIcon'
import DanPic from '../assets/dandandan.jpeg'
interface Props {
  name: { name: string; lastName: string }
  profession: string
  download: string
}

const { name, profession, download } = Astro.props
---
<section class='home' id='home'>
      <div class='home__container section bd-grid'>
        <div class='home__data bd-grid'>
          <Image src={DanPic} alt='Profile Pic' class='home__img' format='webp' />
          <h1 class='home__title'>
            {name.name} <b>{name.lastName}</b>
          </h1>
          <h3 class='home__profession'>{profession}</h3>
          <div class="downbtn">
            <a download='' href='/cvdan.pdf' class='home__button-mobile relative'>
              {download}
            </a>
          </div>
          <div class="deskdown">
            <a download='' href='/cvdan.pdf' class='home__button-desk relative'>
              <BoxIcon name='download' classAlt='down' />
            </a>
          </div>
        </div>
        <div class='home__address bd-grid'>
          <span class='home__information'>
            <BoxIcon classAlt='home__icon' name='map' /> Lomas de Funval
          </span>
        </div>
        <div class='home__address bd-grid'>
          <span class='home__information'>
            <BoxIcon classAlt="home__icon" name='envelope' /> anaispereira427@gmail.com
          </span>
        </div>
        <div class='home__address bd-grid'>
          <span class='home__information'>
            <BoxIcon classAlt="" name='phone' /> +58 424-4186987
          </span>
        </div>
      </div>
    </section>

